<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App3Datepicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED20CF8E1F44C234004D9A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED20CFA21F44C234004D9A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED20CFAD1F44C234004D9A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
