<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IosPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED20CF541F44AFFE004D9A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED20CF681F44AFFE004D9A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED20CF731F44AFFE004D9A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
